[Unit]
Description=Shipyard API
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/andrea/apis/shipyard-backend/src/build/generic_server_linux
WorkingDirectory=/home/andrea/apis/shipyard-backend/src

[Install]
WantedBy=multi-user.target
